.post-section {
  position: relative;
  background: var(--color-grey-light-1);
  width: 100%;

  .post-card {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 8rem auto 5rem auto;
    box-shadow: 0 1.5rem 2rem rgba(black, 0.1);
    padding: 1rem;

    &__media {
      margin: 1rem auto;
      padding: 0;
      background-color: #000;
      box-shadow: 0 1.5rem 2rem rgba(black, 0.25);

      // border: 1px solid black;
      .show {
        display: inline-block;
      }

      .hide {
        display: none;
      }

      &--image {
        margin: 0 auto -0.5rem auto;
        max-width: 100%;
        max-height: 30rem;
      }

      &--video {
        margin: 0 auto -0.5rem auto;
        max-width: 100%;
        max-height: 30rem;
      }
    }

    &__details {
      text-decoration: none;
      list-style-type: none;
      margin: 1rem auto;
      text-align: center;

      &--box {
        margin: 1rem auto;
        padding: 0;
        text-align: start;

        &-list {
          background-color: var(--color-grey-light-1);
          box-shadow: 0 1.5rem 4rem rgba(black, 0.05);
          padding: 1.5rem;
          list-style-type: none;
          font-size: 1.6rem;
          margin: 1rem auto;

          p {
            i {
              padding-right: 0.5rem;
            }
            a {
              text-decoration: none;
              color: var(--color-primary);
            }
          }
          strong {
            padding-right: 1rem;
          }
        }
      }

      &--download {
        position: relative;
        background: var(--color-primary);
        color: var(--color-light);
        font-size: 1.5rem;
        margin: 1rem auto 0 auto;

        i {
          padding-left: 0.5rem;
        }
      }
    }
  }
}
