@import '../../themes/mixins.scss';

.resetPassword-section {
  width: 50%;
  margin: 15rem auto;
  box-shadow: 0 0.5rem 2rem rgba(black, 0.15);
  text-align: center;

  @include respond(tabLand) {
    width: 60%;
  }

  @include respond(tabPort) {
    width: 70%;
  }

  @include respond(phone) {
    width: 90%;
    margin: 15rem auto;
  }

  h1 {
    font-size: 2rem;

     @include respond(tabPort) {
       font-size: 1.7rem;
     }

     @include respond(phone) {
       font-size: 1.5rem;
     }
  }

  .reset_btn {
    font-size: 1.6rem;
    margin: 0 auto 1rem auto;
    padding: 0rem 4rem;
    text-transform: none;
    font-weight: 600;
    text-align: center;

    @include respond(tabPort) {
      font-size: 1.5rem;
    }

    @include respond(phone) {
      font-size: 1rem;
      padding: 0rem 2rem;
    }
  }

  .loader {
    border: 0.4rem solid #f3f3f3;
    border-radius: 50%;
    border-top: 0.4rem groove var(--color-primary);
    border-right: 0.4rem dashed var(--color-secondary);
    border-bottom: 0.4rem double var(--color-tertiary);
    border-left: 0.4rem dotted var(--color-quaternary); //quaternary
    width: 2.5rem;
    height: 2.5rem;
    margin: 1rem auto;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: 1000;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}