@import '../../themes/mixins.scss';

.profile-section {
  width: 80%;
  margin: 0 auto;

  @include respond(tabPort) {
    width: 85%;
  }

  @include respond(phone) {
    width: 95%;
  }

  &>* {
    margin-top: 4rem;
    box-shadow: 0 0.5rem 2rem rgba(black, 0.15);

    @include respond(tabPort) {
      margin-top: 3.5rem;
    }

  }

  &__box {
    &--details {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 0 1rem;

      @include respond(phone) {
        margin: 0 0.5rem;
      }

      &--left {
        display: flex;
        flex-direction: row;
        align-items: center;

        &-image {
          border: 1px solid var(--color-primary);
          width: 5rem;
          height: 5rem;
          border-radius: 50%;
          font-size: 3rem;
          color: var(--color-text-3);
          line-height: 5rem;
          text-align: center;
          background: var(--color-primary);

          @include respond(tabPort) {
            width: 4.5rem;
            height: 4.5rem;
            font-size: 2.5rem;
            line-height: 4.5rem;
          }

          @include respond(phone) {
            width: 4rem;
            height: 4rem;
            font-size: 2rem;
            line-height: 4rem;
          }
        }

        &-user {
          &_name {
            display: flex;
            flex-direction: row;
          }
        }

        p {
          color: var(--color-text-1);
          margin-left: 1rem;
          font-size: 1.5rem;
          display: flex;
          text-transform: capitalize;
          // flex-direction: column;

          @include respond(tabPort) {
            font-size: 1.4rem;
          }

          @include respond(phone) {
            font-size: 1.3rem;
          }

          i {
            margin: 0.5rem 0rem 0rem 0.5rem;
          }

          small {
            text-transform: lowercase;
          }

          &:hover {
            color: var(--color-primary);
          }
        }
      }

      &--right {
        display: flex;
        flex-direction: column;
        // padding: 2rem;
        color: var(--color-text-1) !important;
        margin-bottom: 5rem;
        align-content: center;
        text-align: center;

        p {
          font-size: 1.3rem;
          cursor: pointer;
          align-self: end;
          align-items: flex-end;
          align-content: flex-end;
          margin-left: auto;

          @include respond(tabPort) {
            font-size: 1.2rem;
          }

          @include respond(phone) {
            font-size: 1rem;
          }

          &:hover {
            color: var(--color-primary);
          }
        }

        div {
          font-size: 1.6rem;
          cursor: pointer;

          @include respond(tabPort) {
            font-size: 1.4rem;
          }

          @include respond(phone) {
            font-size: 1.2rem;
          }

          a {
            color: var(--color-text-1);

            &:hover {
              color: var(--color-secondary);
            }
          }

          i {
            padding-right: 1rem;
          }

          &:hover {
            font-size: 1.7rem;
            color: var(--color-primary);

            @include respond(tabPort) {
              font-size: 1.5rem;

            }

            @include respond(phone) {
              font-size: 1.3rem;
            }
          }
        }
      }
    }

    &--overview {
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        font-size: 1.5rem;

        @include respond(tabPort) {
          font-size: 1.4rem;
        }

        @include respond(phone) {
          font-size: 1.3rem;
        }
      }

      &_container {
        width: 70%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        flex-wrap: wrap;

        @include respond(tabPort) {
          width: 88%;
        }

        @include respond(phone) {
          width: 100%;
        }

        &_box {
          width: 35%;
          margin: 1.5rem 3rem;
          background-color: var(--color-bg);
          padding: 1.5rem;
          text-align: center;

          @include respond(tabPort) {
            padding: 1.5rem;
            margin: 1.5rem 3rem;
          }

          @include respond(phone) {
            padding: 1rem;
            margin: 1.5rem 2.5rem;
            width: 30%;
          }

          p {
            font-size: 1.5rem;

            @include respond(tabPort) {
              font-size: 1.35rem;
            }

            @include respond(phone) {
              font-size: 1.1rem;
            }
          }

          strong {
            font-weight: bolder;
            font-size: 1.7rem;

            @include respond(tabPort) {
              font-size: 1.5rem;
            }

            @include respond(phone) {
              font-weight: bold;
              font-size: 1.2rem;
            }
          }

          &-img {
            max-width: 100%;
            height: 4rem;

            @include respond(tabPort) {
              height: 3.5rem;
            }

            @include respond(phone) {
              height: 3rem;
            }
          }
        }
      }
    }
  }
}

// img {
//   border-radius: 50%;
//   // overflow: hidden;
//   height: 7rem;
// }