@import '../../themes/mixins.scss';

.navigation {
  display: block;
  font-size: 1.1rem;

  &__sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    top: 22px;
    right: 15px;
    border-radius: 50px;
    width: 22px;

    @include respond(tabPort) {
      width: 22px;
    }

    @include respond(phone) {
      width: 20px;
    }
  }

  &__spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 0.3rem;
    width: 100%;
    background: var(--color-primary-light);
    border-radius: 5rem;

    @include respond(tabPort) {
      height: 0.2rem;
    }
  }

  &__horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: right;
    margin-top: 0.3rem;

    @include respond(tabPort) {
      margin-top: 0.45rem;
    }
  }

  &__part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: right;
  }

  &__part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: right;
    margin-top: 0.3rem;

    @include respond(tabPort) {
      margin-top: 0.45rem;
    }
  }

  &__sidebarMenu {
    // height: 56rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    right: 0;
    width: 25rem;
    transform: translateX(250px);
    transition: transform 250ms ease-in-out;
    background-color: var(--color-bg);
    box-shadow: 0px 0px 10px var(--color-bg);

    @include respond(tabPort) {
      width: 240px;
    }

    &--bottom {
      font-weight: bold;
      padding: 0.5rem 1.5rem 0.2rem 0;
      align-self: flex-end;
      font-size: 1.2rem;
      cursor: pointer;

      @include respond(tabPort) {
        font-size: 1.2rem;
      }

      p {
        color: var(--color-text-1);

        &:hover {
          color: var(--color-primary);
        }
      }
    }

    &--inner {
      margin-bottom: 3rem;
      padding: 0;

      // border-top: 1px solid rgba(255, 255, 255, 0.1);
      span {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        text-align: center;
        font-size: 15px;

        // color: rgba(255, 255, 255, 0.5);
        // color: var(--color-text-3);

        &:hover {
          color: var(--color-primary);
        }

        i {
          margin-bottom: 0.5rem;
        }

        p {
          margin: 0;
          padding: 0;
        }
      }

      li {
        list-style: none;
        color: var(--color-text-2);
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1rem;
        padding: 2rem;
        cursor: pointer;


        @include respond(tabPort) {
          font-size: 0.9rem;
        }

        &:first-child {
          padding: 0 2rem;
        }

        .login {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;

          i {
            margin: 0.5rem 1rem 0.8rem 0.5rem;
          }
        }

        .profile {
          display: flex;
          flex-direction: row;
          align-items: center;

          div {
            border: 1px solid var(--color-primary);
            width: 4rem;
            height: 4rem;
            padding: 1rem;
            border-radius: 50%;
            font-size: 2rem;
            color: var(--color-text-3);
            line-height: 2.2rem;
            text-align: center;
            background: var(--color-primary);

            @include respond(tabPort) {
              width: 3.5rem;
              height: 3.5rem;
              line-height: 1.5rem;
              font-size: 1.5rem;
            }
          }

          &:active,
          :visited~.navigation__sidebarMenu {
            transform: translateX(0);
          }

          p {
            color: var(--color-text-1);
            margin-left: 1rem;
            font-size: 1.2rem;

            @include respond(tabPort) {
              font-size: 1.2rem
            }

            small {
              text-transform: lowercase;
            }

            &:hover {
              color: var(--color-primary);
            }

            &:active~.navigation__sidebarMenu {
              transform: translateX(0);
            }
          }
        }

        .toggle-wrapp {
          margin: 0px auto;
          display: flex;
          align-items: center;

          p {
            padding-right: 1rem;
          }

          .toggle {
            // width: 40px;
            // height: 20px;
            width: 35px;
            height: 15px;
            position: relative;
            border: 1px solid var(--color-primary);
            background-color: var(--color-bg);
            border-radius: 25px;
            cursor: pointer;
            transition: 300ms all;
            margin-bottom: 3px;


            &::after {
              position: absolute;
              content: "\f185";
              // bottom: 0px;
              // top: 0px;
              left: 3px;
              transition: 300ms all linear;
              font-family: fontawesome;
              font-size: 8px;
              color: var(--color-text-1);
            }
          }

          .dark-mode {
            border: 1px solid var(--color-primary);
            background-color: var(--color-bg);

            // background-color: #ffffff;
            &::after {
              left: 23px;
              content: "\f186";
              color: var(--color-text-1);
            }
          }
        }

        a {
          color: var(--color-text-2);
          text-transform: uppercase;
          font-weight: bold;
          // font-size: 14px;
          cursor: pointer;
          text-decoration: none;

          &:hover {
            color: var(--color-primary);
            padding-left: 1rem;
          }
        }
      }
    }
  }

  input[type="checkbox"]:checked~&__sidebarMenu {
    transform: translateX(0);
  }

  body~input[type="checkbox"]:checked~&__sidebarMenu {
    transform: translateX(0);
  }

  input[type="checkbox"] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
  }

  input[type="checkbox"]:checked~&__sidebarIconToggle>&__horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
  }

  input[type="checkbox"]:checked~&__sidebarIconToggle>&__part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
  }

  input[type="checkbox"]:checked~&__sidebarIconToggle>&__part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
  }
}