@import "mixins.scss";

.update-faq {
  display: flex;
  margin: 0 0 5rem 0;
  flex-direction: row;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);

  @include respond(phone) {
    flex-direction: column;
    margin: 2rem;
  }

  p {
    margin: auto;
  }

  .update {
    margin-right: 1rem;
    border: 1px solid var(--color-secondary);
    border-radius: 1rem 1rem 1rem 1rem;
    box-sizing: border-box;

    @include respond(tabPort) {
      // margin: 0rem 3rem;
    }

    @include respond(phone) {
      margin: 3rem 0.5rem;
    }

    &__title {
      font-size: 1.8rem;
      font-weight: 600;
      overflow: hidden;
      background-color: var(--color-secondary);
      color: var(--color-light);
      padding: 0.5rem;
      border-radius: 1rem 1rem 0 0;

      @include respond(tabPort) {
        font-size: 1.4rem;
      }

      @include respond(phone) {
        font-size: 1.3rem;
      }

      p {
        i {
          margin: 0 1rem;
        }
      }
    }

    &__box {
      height: 30.5rem;
      overflow-x: hidden;
      overflow-x: auto;
      border-radius: 1rem 1rem 0 0;
    }

    &__content {
      background-color: var(--color-grey-dark-2);
      color: var(--color-light);
      margin: 1rem;
      padding: 1rem;
      border-radius: 0.5rem;

      &--news {
        // background-color: #c52f2f;
        background-color: var(--color-tertiary);
      }

      &--updates {
        background-color: #187cff;
      }

      &--greetings {
        background-color: #007c25;
      }

      p {
        font-size: 1.2rem;

        @include respond(phone) {
          font-size: 1rem;
        }

        strong {
          font-size: 1.3rem;
          margin-right: 0.5rem;

          @include respond(phone) {
            font-size: 1.1rem;
          }

          i {
            padding-right: 0.8rem;
            font-size: 2rem;

            @include respond(phone) {
              font-size: 1.4rem;
            }
          }
        }
      }

      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }
  }

  .faq {
    margin-left: 1rem;
    border: 1px solid var(--color-tertiary);
    border-radius: 1rem;
    box-sizing: border-box;
    overflow: hidden;
    background-color: var(--color-light-5);

    @include respond(phone) {
      margin: 0;
    }

    &__title {
      font-size: large;
      font-weight: 600;
      overflow: hidden;
      background-color: var(--color-tertiary);
      color: var(--color-light);
      padding: 0.5rem;

      @include respond(tabPort) {
        font-size: 1.4rem;
      }

      @include respond(phone) {
        font-size: 1.3rem;
      }

      p {
        i {
          margin: 0 1rem;
        }
      }
    }

    &__content {
      margin: 0.5rem;
      padding: 0.5rem;
      border-radius: 0.5rem;
      height: 30.5rem;
      background-color: var(--color-light-5);
      overflow-x: hidden;
      overflow-x: auto;

      p {
        strong {
          margin-right: 0.5rem;
        }
      }

      &--box {
        margin-bottom: 100rem;
      }
    }
  }
}