@import '../../themes/mixins.scss';

.header {
  box-shadow: 0px 0px 10px #00000029;
  background-color: var(--color-bg);
  width: 100%;
  height: 5.4rem;
  position: fixed;
  justify-content: center;
  z-index: 100;

  .container {
    width: 70%;
    position: relative;
    // border: 1px solid #ccc;
    margin: 0 auto;

    @include respond(tabLand) {
      width: 85%;
    }

    @include respond(tabPort) {
      width: 90%;
    }

    @include respond(phone) {
      width: 95%;
    }

    .back {
      display: block;
      position: absolute;
      left: 0;
      top: 15px;
      cursor: pointer;
      font-size: 3rem;

      @include respond(tabPort) {
        font-size: 2.8rem;
      }

      @include respond(phone) {
        font-size: 2.3rem;
      }
    }

    .logo {
      position: relative;
      margin: auto;
      height: 55px;
      width: 70%;
      display: flex;
      color: #000000;
      text-align: center;
      text-decoration: none;
      font-size: 15px;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      

      &--img {
        &-1 {
          display: block;
          padding: 3px;
          height: 32px;
          // width: 100%;
          text-align: center;
          position: relative;

          @include respond(tabPort) {
            display: none;
            margin: 0 auto 0 auto;
          }
        }

        &-2 {
          display: none;
          // margin-right: 10rem;
          height: 32px;
          // width: 80px;
          padding: 3px 8px;

          @include respond(tabPort) {
            display: block;
            height: 32px;
            width: 80px;
          }

          @include respond(phone) {
            display: block;
            height: 30px;
            width: 70px;
          }
        }
      }
    }
  }
}