.post-card {
  display: block;

  p {
    margin: 0;
  }

  &__detail {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;

    margin: 0 auto;

    & > * {
      margin: 2rem;
    }

    &--image {
      padding: 1rem;
      display: flex;
      flex-direction: row;

      &-name {
        display: flex;
        flex-direction: column;
        justify-content: stretch;

        p {
          padding-left: 2rem;
          font-size: 1.8rem;
        }

        .hashtag_name {
          font-size: 2.3rem;
        }

        .hashtag_post-icon {
          padding-right: 1rem;
        }

        :nth-child(3) {
          font-size: 1.5rem;

          i {
            padding-right: 0.5rem;
          }
        }
      }

      img {
        border-radius: 50%;
        // overflow: hidden;
        height: 7rem;
      }
    }

    &--info {
      // background-color: var(--color-grey-light-2);
      display: flex;
      flex-direction: row;

      i {
        font-size: 1.5rem;
        padding-top: 0.5rem;
      }

      .hashtag-icon {
        padding-top: 2rem;
      }

      .related_hashtags {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1.5rem;
      }

      p {
        padding-left: 2rem;
        font-size: 1.6rem;
      }
    }

    &--more {
      // background-color: var(--color-grey-light-2);
      display: flex;
      flex-direction: column;

      div {
        display: flex;
        flex-direction: row;

        i {
          font-size: 2rem;
          padding-top: 0.5rem;
        }

        p {
          padding-left: 2rem;
          font-size: 1.8rem;
        }
      }
    }
  }

  &__collections {
    // display: flex;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    // margin-top: 3rem;

    &--box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      // background-color: red;
    }

    .topORmost-title {
      font-size: 1.8rem;
      margin-top: 5rem;
      font-weight: 800;
      padding: 0 2rem;
    }

    .topORmost-collections {
      display: flex;
      position: relative;
      overflow: hidden;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      justify-content: flex-start;
    }

    &--card {
      background-color: var(--color-dark-1);
      margin: 1rem 0.5rem 1rem 0.5rem;
      box-shadow: 0 1.5rem 2rem rgba(black, 0.1);
      border-radius: 0.5rem;
      // height: 25rem;
      width: 32%;
      overflow: hidden;
      word-wrap: break-word;

      // .post-image {
      //   img {
      //     margin: 0 auto -0.5rem auto;
      //     width: 100%;
      //     height: 26rem;
      //   }
      // }

      &-media {
        padding: 0;
        box-shadow: 0 1.5rem 2rem rgba(var(--color-dark-1), 0.25);

        &_box {
          margin: 0 0 -0.5rem 0;
          max-width: 100%;
          height: 25rem;

          .layer-icon {
            float: right;
            margin: 1rem;
            width: 20px;
            height: 20px;
          }
        }

        video {
          margin: 0 auto -0.5rem auto;
          width: 100% !important;
          height: 100% !important;
        }

        &_download-btn {
          cursor: pointer;
          display: block;
          // background-color: var(--color-primary);
          width: 100%;
          color: var(--color-light);
          text-align: center;
          font-size: 2rem;
          height: 50px;

          &:hover {
            background-color: var(--color-primary);
            // color: var(--color-primary);
          }

          p {
            // background: black;
            padding-top: 1rem;
          }

          .loader {
            border: 0.4rem solid #f3f3f3;
            border-radius: 50%;
            border-top: 0.4rem groove var(--color-primary);
            border-right: 0.4rem dashed var(--color-secondary);
            border-bottom: 0.4rem double var(--color-tertiary);
            border-left: 0.4rem dotted var(--color-quaternary); //quaternary
            width: 4rem;
            height: 4rem;
            margin: 0 auto;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
            z-index: 1000;
          }
        }
      }
    }
  }

  .single {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .multiple {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.show {
  display: block;
}

.hide {
  display: none !important;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
