@import '../../themes/mixins.scss';

.message-section {
  position: absolute;
  top: 8rem;
  right: 0.5rem;
  background-color: red;
  padding: 3px;
  width: 160px;
  text-align: center;
  z-index: 1;
  font-weight: 600;

  @include respond(tabPort) {
    top: 5.6rem;
    padding: 2px;
    width: 120px;
  }

  p {
    color: white;
    font-size: 1.2rem;

    @include respond(tabPort) {
      font-size: 1rem;

    }
  }

  span {
    font-size: 1.4rem;
    font-weight: 900;
    padding-right: 0.2rem;
    padding-bottom: 0.5rem;
    float: right;
    color: white;

    @include respond(tabPort) {
      font-size: 1.1rem;

    }
  }
}

.close {
  display: none;
  position: absolute;
  top: 80px;
  right: 10px;
  padding: 3px;
  width: 160px;
  text-align: center;
  // opacity: 0;
}