@import '../../themes/mixins.scss';

.error404-section {
  width: 30%;
  margin: 15rem auto;
  box-shadow: 0 0.5rem 2rem rgba(black, 0.15);
  text-align: center;

  @include respond(tabLand) {
    width: 50%;
  }

  @include respond(tabPort) {
    width: 60%;
  }

  @include respond(phone) {
    width: 80%;
  }

  h1 {
    font-size: 6.5rem;
    margin: 0;
  }

  h2 {
    font-size: 2.6rem;
    margin: 0;
  }

  h3 {
    font-size: 1.6rem;

    span {
      text-transform: capitalize;
      color: var(--color-primary);
    }
  }

  h4 {
    font-size: 1.3rem;

    span {
      color: var(--color-primary);
    }
  }

  img {
    width: 20rem;
  }

  div {
    background-color: var(--color-primary);
    color: var(--color-bg);
    text-transform: none;
    padding: 1rem 2rem;
    font-size: 1.3rem;

    i {
      font-size: 1.4rem;
      padding-right: 0.5rem;
    }
  }
}